

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.font-raleway{
    font-family: "Raleway", sans-serif; 
}

.font-inter{
    font-family: "Inter", sans-serif;
}

.banner-bg{
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
